version: '3.8'

services:
  # --- Service 1: Database (MySQL) ---
  db:
    image: mysql:8.0
    container_name: iot_mysql
    restart: always
    environment:
      # Pastikan nama DB ini SAMA dengan yang ada di dalam script SQL
      # Jika di SQL ada perintah "CREATE DATABASE x", variabel ini bisa diabaikan
      MYSQL_DATABASE: weather_logs 
      MYSQL_ROOT_PASSWORD: kisamadesu21112 
    ports:
      # PENTING UNTUK VPS:
      # Menggunakan 127.0.0.1 agar database TIDAK terekspos ke internet publik.
      # Hanya bisa diakses dari dalam VPS atau via SSH Tunnel.
      - "127.0.0.1:3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      # MAGIC HAPPENS HERE:
      # File SQL Anda akan otomatis dieksekusi saat container pertama kali dibuat
      - ./backup_database.sql:/docker-entrypoint-initdb.d/init.sql

  # --- Service 2: Python (FastAPI + ML) ---
  python_app:
    build: .
    container_name: iot_python_backend
    restart: always
    depends_on:
      - db
    ports:
      - "8002:8000" # Aplikasi bisa diakses publik via IP_VPS:8000
    volumes:
      # Untuk production murni, sebaiknya COPY code di Dockerfile.
      # Tapi volume ini oke jika Anda ingin update code di VPS tanpa rebuild image.
      - .:/app
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: kisamadesu21112
      DB_NAME: weather_logs

volumes:
  db_data: